/*****
Theme Name: MH FeminineMag
Theme URI: https://www.mhthemes.com/themes/mh/femininemag/
Description: MH FeminineMag comes with a nice pink color scheme which is great for feminine bloggers who want to run fancy online magazines or other editorial websites with topics like fashion, beauty, traveling, lifestyle or else. You can have the same layout in the premium version of MH Magazine (without the need of a child theme) which can be configured by making use of the flexible layout options. MH Magazine offers additional widget areas, multiple unique custom widgets, great features and extended layout options to manage several layout elements on your site including changing the color scheme and typography.
Author: MH Themes
Author URI: https://www.mhthemes.com/
Template: mh-magazine-lite
Version: 1.1.3
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-header, custom-menu, featured-images, full-width-template, theme-options, threaded-comments, translation-ready, rtl-language-support, blog, entertainment, news
Text Domain: mh-femininemag
Domain Path: /languages/
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*****/

/***** Structure *****/

.mh-container-outer { box-shadow: none; }

/***** Typography *****/

body { font-family: "Varela-Round", sans-serif; color: #47475b; background: #efeff9; }
h1, h2, h3, h4, h5, h6, .mh-custom-posts-small-title { font-family: "Varela-Round", sans-serif; color: #47475b; }
pre, code, kbd { color: #47475b; background: #efeff9; }
blockquote { color: #47475b; border-color: #c65f91; }
a { color: #47475b; }
a:hover { color: #c65f91; }

/***** Header *****/

.mh-header { background: #efeff9; }
.mh-header-tagline { color: #fd82b1; }

/***** Navigation *****/

.mh-main-nav-wrap { background: #c65f91; }
.mh-main-nav { background: #c65f91; border-color: #fd82b1; }
.mh-main-nav li:hover { background: #fd82b1; }
.mh-main-nav ul li:hover > ul { background: #c65f91; }
.mh-main-nav .menu > .current-menu-item { background: none; }
.mh-main-nav .menu > .current-menu-item:hover { background: #fd82b1; }

/***** SlickNav Custom Style *****/

.slicknav_btn { background: #fd82b1; }
.slicknav_menu { border-color: #c65f91; background: #fd82b1; }
.slicknav_nav ul { border-color: #c65f91; }
.slicknav_nav .slicknav_item:hover, .slicknav_nav a:hover { background: #fd82b1; }
.mh-main-nav-wrap .slicknav_btn, .mh-main-nav-wrap .slicknav_menu, .mh-main-nav-wrap .slicknav_nav .slicknav_item:hover, .mh-main-nav-wrap .slicknav_nav a:hover { background: transparent; }
.mh-main-nav-wrap .slicknav_nav ul { border-color: #fd82b1; }
.mh-main-nav-wrap .slicknav_nav ul ul { border: none; }

/***** Posts/Pages *****/

.page-title { color: #c43278; }
.entry-content a, .entry-content a:hover, .mh-meta a:hover { color: #c65f91; }
.entry-tags li { background: #c65f91; }
.entry-tags li:hover, .entry-tags .fa { background: #fd82b1; }

/***** Pagination *****/

.page-numbers, a .pagelink { color: #47475b; background: #efeff9; }
.page-numbers:hover, .mh-loop-pagination .current, .mh-comments-pagination .current, a:hover .pagelink, .pagelink { background: #fd82b1; }

/***** Footer *****/

.mh-footer { background: #c65f91; }
.mh-footer a, .mh-footer .mh-meta, .mh-footer .mh-meta a, .mh-footer .mh-meta a:hover { color: #efeff9; }
.mh-copyright-wrap { border-color: rgba(255, 255, 255, 0.3); background: #c65f91; }
.mh-copyright, .mh-copyright a { color: #efeff9; }

/***** Images / Video *****/

.wp-caption-text { color: #47475b; }

/***** Gallery *****/

.gallery-caption { color: #fff; }

/***** Comments *****/

.mh-comment-meta, .mh-comment-meta a { color: #47475b; }
.bypostauthor .mh-comment-meta-author:after, .mh-comment-meta-links .comment-reply-link:before, #respond #cancel-comment-reply-link:before { color: #fd82b1; }

/***** Forms *****/

input[type=text]:hover, input[type=email]:hover, input[type=tel]:hover, input[type=url]:hover, textarea:hover { border-color: #fd82b1; }
input[type=submit] { background: #fd82b1; }
input[type=submit]:hover { background: #c65f91; }

/***** Searchform *****/

.mh-widget .search-form { background: #efeff9; }

/***** Widgets *****/

.mh-widget-title-inner { display: inline-block; font-size: 13px; font-size: 0.8125rem; font-weight: 700; color: #fff; padding: 10px 15px; background: #fd82b1; }
.mh-widget-title-inner a { color: #fff; }
.mh-widget-title { padding: 0; border-bottom: none; background: #fd82b1; background: rgba(253, 130, 177, 0.6); }
.mh-footer-widget-title { background: #fd82b1; }

/***** Widgets Areas (Advertising) *****/

.mh-ad-spot, .mh-info-spot { background: #efeff9; }

/***** MH Slider Widget *****/

.mh-slider-widget img { width: 100%; display: block; }
.mh-slider-widget .flex-control-paging li a.flex-active { background: #fd82b1; }
.mh-slider-caption { border-color: #fd82b1; background: #c65f91; background: rgba(255, 173, 206, 0.8); }
.mh-widget-col-1 .mh-slider-caption { background: #c65f91; }
.mh-footer-widget .mh-slider-caption { background: rgba(255, 255, 255, 0.1); }

/***** MH Posts Stacked Widget *****/

.mh-posts-stacked-title { background: #c65f91; background: rgba(255, 173, 206, 0.8); }
.mh-posts-stacked-meta { background: #fd82b1; }
#mh-mobile .mh-footer-widget .mh-posts-stacked-overlay { border-color: #c65f91; }

/***** MH Tabbed Widget *****/

.mh-tabbed-widget, .mh-tabbed-widget a { color: #47475b; }
.mh-tabbed-widget a:hover { color: #c65f91; }
.mh-tabbed-widget .tagcloud a { color: #fff; }
.mh-tab-buttons { border-bottom: 3px solid #fd82b1; }
.mh-tab-button, .mh-tab-content { background: #efeff9; }
.mh-tab-button.active, .mh-tab-button.active:hover { color: #fff; background: #fd82b1; }
.mh-tab-comment-excerpt { background: rgba(255, 255, 255, 0.6); }
.mh-footer-widget .mh-tabbed-widget, .mh-footer-widget .mh-tabbed-widget a { color: #fff; }
.mh-footer-widget .mh-tab-button.active { background: #fd82b1; }
.mh-footer-widget .mh-tab-comment-excerpt { background: #c65f91; }

/***** WP Calendar Widget *****/

#wp-calendar caption { background: #efeff9; }

/***** WP Tag Cloud Widget *****/

.mh-widget .tagcloud a, .mh-footer-widget .tagcloud a { background: #c65f91; }
.tagcloud a:hover, .mh-widget .tagcloud a:hover, .mh-footer-widget .tagcloud a:hover { background: #fd82b1; }

/***** Media Queries *****/

@media screen and (max-width: 900px) {
	#mh-mobile .mh-slider-caption { background: #c65f91; background: rgba(255, 173, 206, 1); }
}
@media only screen and (max-width: 420px) {
	.mh-copyright-wrap { padding: 15px 20px; }
}